@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

:root {
    --cor-primaria:#8b2cf5;
    --cor-secundaria:#f7efff;
    --cor-terciaria:#fbfaf8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--cor-terciaria);
    border-radius: 100px;
    margin-top: 14px;
}

nav {
    display: flex;
    gap: 27px;
}  

nav a {
    color: #000000;
    font-size: 20px;
}

